Repository voxpupuli/container-puppetdb, pull requests merged in 2024-04, with the labels that each got.

#59 Add 'ARG UBUNTU_CODENAME' to final image build so that Podman correctly interprets PUPPET_DEB environment variable.
  puppetdb/Dockerfile
Labels: bug

#64 Release v1.4.0
  CHANGELOG.md
Labels: skip-changelog

#67 Release v1.5.0
  CHANGELOG.md
Labels: skip-changelog

#68 update link in docu to release how to
  README.md
Labels: documentation
