Repository voxpupuli/container-puppetdb, pull requests merged in 2025-01, with the labels that each got.

#96 use correct name for certificate-allowlist
  puppetdb/docker-entrypoint.d/30-certificate-allowlist.sh
Labels: bug

#101 deprecate repo
  README.md
Labels: documentation

#102 Release v1.7.0
  CHANGELOG.md
Labels: skip-changelog
